<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container mt-50">
        <h1>Details news</h1>
        <div th:each="post : ${post}" class="alert alert-info mt-5">
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.full_text}"></p>
            <p style="font-style: italic" th:text="'Created: ' + ${post.user}"></p>
            <b>Views</b> <p th:text="${post.views}"></p>
            <a th:href="'/blog/' + ${post.id} + '/edit'" class="btn btn-info">Edit</a>
            <form th:action="'/blog/' + ${post.id} + '/delete'">
                <button type="submit" method="post" class="btn btn-info">Delete</button>

            </form>
        </div>
    </div>
</main>
</body>
</html>