
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title text="Registration"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<main>
    <div class="container mt-50">
        <h1>Add user</h1>
        <form th:action="@{/registration}" method="post">
            <h2 type="text" name="passwordError"></h2>
            <input type="text" name="name" placeholder="Enter name" class="form-control"><br>
            <input type="text" name="password" placeholder="Enter password" class="form-control"><br>
            <button type="submit" class="btn btn-success">Registration</button>
        </form>
    </div>
</main>
</body>
</html>